.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}
.highlight {
  position: relative;
}

body {
  background-color: #f3f3f3;
  font-family: "Poppins", sans-serif;
}
.container-fluid {
  padding-left: 25px;
  padding-right: 25px;
  gap: 20px;
}
.container--topselling {
  padding-left: 20px;
  padding-right: 20px;
  height: fit-content;
}
.navbar-nav {
  gap: 15px;
  width: 100%;
}
.ms-md-auto {
  margin-left: auto !important;
  gap: 15px;
}
.navbar img {
  width: 100px;
  height: 100px;
}

.carousel-item .promo {
  /*width: 500px;
  height: 500px;*/
  object-fit: contain;
}

.container--carousel {
  /* background-color: #e9ebed;*/
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.row-topSellHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.row-topSellItem {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.row-topSellPageSelect {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.card-img-top img {
  object-fit: contain;
  height: 200px;
  width: 200px;
}
.card-footer i {
  margin-right: 5px;
}
